
/**/*.tfstate*
/**/.terraform

../modules/key/symbiosis*.*
../modules/key/symbiosis*.pub
# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*
.gitattributes
../../.gitattributes
# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*
