
/**/*.tfstate*
/**/.terraform

../modules/key/symbiosis*.*
../modules/key/symbiosis*.pub
# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*
.gitattributes
../modules/.gitattributes
# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.log
.terraform.lock.hcl

.terraform/
.terraform/
